* {
    padding:0px;
   margin:20px;
   box-sizing: border-box;
}
body{
    background-image: url(https://wallpapercave.com/wp/wp6940885.jpg);
        background-repeat: no-repeat;
        background-attachment:fixed;
        background-size: 100% 100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h1{
    color:rgb(117, 15, 138);
}
h2{
    color: rgb(96, 10, 117);
}
#first{
    background-color: greenyellow;
    border: rgb(46, 187, 18) solid 5px;
}
h3{
    text-align: center;
}
input, button{
    padding: 15px;
    font-size: 15px;

}
a {
background-color: green;
}
.first{
    color: hotpink;
    font-size: 15px;
}